/dist
/etc/*-debug
/log
/nytprof.out
/nytprof
/run
/tmp
/templates/

/.build/
/_build/
/Build
/blib
cover_db/
*.bak
*.old
*~
*.swp
*.o
*.obj
/carton.lock
/.carton/
/local/
MYMETA.*
/Haineko-*
lib/Haineko/SMTPD/Relay/MailChimp.pm
lib/Haineko/SMTPD/Relay/Mirror.pm
