dist
.build/
_build/
Build
blib
cover_db/
*.bak
*.old
*~
*.swp
*.o
*.obj
MYMETA.*
minil.toml

# Files under development
/Haineko-*
lib/Haineko/SMTPD/Relay/MailChimp.pm
lib/Haineko/SMTPD/Relay/Mirror.pm
/etc/*-debug
/log
/run
/tmp

# Carton related files and directories
/carton.lock
/.carton/
/local/

# Devel::Cover related files and directories
cover_db

# Devel::NYTProf related files and directories
nytprof.out
nytprof*
report

# Java packages and class files
/eg/org
/eg/*.class

